* {
    box-sizing: border-box;
}

body {
    min-width: 925px;
    font: 400 16px/1.33 "Roboto", sans-serif;
    background: #EDEFF1;
    color: #2C2F32;
}

ul,
ol,
dl,
li,
dt,
dd {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* #region Reusable elements and helpers */

/* Buttons */
.button {
    display: inline-block;
    vertical-align: top;
    border: 0;
    padding: 0;
    outline: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}
.button-icon {
    overflow: hidden;
    background: no-repeat 50% 50%;
    color: transparent;
}
.button-link {
    padding-left: 0;
    padding-right: 0;
    color: inherit;
}

/* Form input fields */
.form-input {
    border: 0;
    margin: 0;
    padding: 10px 20px;
    outline: 0;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
    color: #2C2F32;;
    text-decoration: none;
    cursor: pointer;
}

/* Badge */
.badge {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    border: 2px solid #37AEC1;
    font-family: "Fira Sans", "Roboto", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #FFF;
}
.badge-danger {    
    border-color: #37AEC1;    
    background: #E54D4D;
    color: #FFF;
}

/* Icons */
.icon {
    display: inline-block;
    background: no-repeat 50% 50%;
}
.icon-svg {
    display: none;
}
.icon-svg:target {
    display: inline;
}

.icon-bell {
    width: 15px;
    height: 19px;
    background-image: url("../images/sprite.svg#icon-bell");
}
.icon-close {
    width: 16px;
    height: 16px;
    background-image: url("../images/sprite.svg#icon-close");
}
.icon-plus {
    width: 42px;
    height: 42px;
    background-image: url("../images/sprite.svg#icon-plus");
}
.icon-house {
    width: 17px;
    height: 17px;
    background-image: url("../images/sprite.svg#icon-house");
}
.icon-arrow-down {
    width: 9px;
    height: 4px;
    background-image: url("../images/sprite.svg#icon-arrow-down");
}
.icon-qr {
    width: 24px;
    height: 24px;
    background-image: url("../images/sprite.svg#icon-qr");
}
.icon-search {
    width: 18px;
    height: 18px;
    background-image: url("../images/sprite.svg#icon-search");
}
.icon-repeat {
    width: 20px;
    height: 20px;
    background-image: url("../images/sprite.svg#icon-cycle");
}
.icon-favorite {
    width: 21px;
    height: 20px;
    background-image: url("../images/sprite.svg#icon-star");
}
.icon-chat {
    width: 22px;
    height: 20px;
    background-image: url("../images/sprite.svg#icon-chat");
}
.icon-dots {
    width: 22px;
    height: 20px;
    background-image: url("../images/sprite.svg#icon-hellip");
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .icon-chat {
        background-size: 21px auto;
    }
    .icon-dots, ::-ms-clear {
        background-size: 20px auto;
    }
}


/* Dropdowns */
.menu__dropdown {
    display: none;
    position: absolute;
}

.hidden {
    display: none !important;
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-unstyled li {
    margin: 0;
    padding: 0;
}

/* #endregion */

/* #region Header */
.header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
    background: linear-gradient(90deg, #00417B 0%, #237CB1 50%, #46D2CC 100%);
    color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
}

.header__search {
    flex-shrink: 0;
    flex-basis: 16%;
    display: flex;
    align-items: center;
    min-width: 166px;
    height: 60px;
    padding: 0 15px 0 0;
    background: url("../images/sprite.svg#breadcrumb-arrow") no-repeat 100% 50% / 185px 185px;
}
.header__search__input {
    order: 1;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 92px;
    font-size: 14px;
    background: #fff url("../images/sprite.svg#icon-qr") no-repeat 20px 50% / 24px 24px;
    text-transform: uppercase;
}
.header__search__input:-ms-input-placeholder {
    color: #2C2F32;
}
.header__search__input::placeholder {
    color: #2C2F32;
}
.header__search__button {
    min-width: 30px;
    height: 30px;
	margin: 0 -88px 0 58px;
    padding-top: 3px;
	position: relative;
}

.header__menu-main {
    flex-shrink: 0;
    flex-basis: 29%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
}
.header__menu-main__item {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
.header__menu-main__item:not(:first-child) {
    margin-left: 25px;
}
.header__menu-main__link {
    display: inline-block;
    min-height: 30px;
    line-height: 30px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0.8;
    color: inherit;
    text-decoration: none;
}
.header__menu-main__link::after {
    content: "";
    display: block;
    height: 5px;
    background: #8DC540;
    margin: 10px 0 -30px;
    opacity: 0;
}
.header__menu-main__link:hover,
.header__menu-main__link:focus,
.header__menu-main__link.active,
.header__menu-main__link:hover::after,
.header__menu-main__link:focus::after,
.header__menu-main__link.active::after {
    opacity: 1;
    transition: opacity 0.3s;
}

.header__menu__dropdown__button {
	width: 13px;
	height: 13px;
    margin: 0 0 0 -3px;
	vertical-align: -2px;
}
.header__menu__dropdown__icon {
    vertical-align: 5px;
}


.header__menu-new {
    flex-basis: 10%;
    min-width: 80px;
    text-align: center;
}
.button__add-new {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    background-size: 16px 16px;
    transform: rotate(45deg);
}

.header__profile {
    flex: 0 45%;
    justify-content: flex-end;
	display: flex;
	align-items: center;
    padding-right: 15px;
	font-size: 14px;
}
.profile__menu {
	display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.header__notification {
    flex-basis: calc(5vw + 20px);
    width: calc(5vw + 20px);
	min-width: 50px;
	max-width: 80px;
}
.header__notification__button {
	display: inline-flex;
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: end;
}
.header__notification__button__badge {
	margin: -13px 0 0 -7px;
}

.profile__title {
    /* width: 20vw;
    min-width: 200px; */
    max-width: 250px;
    margin: 0 5px 0 10px;
}

.profile__type,
.profile__menu__icon {
	flex-shrink: 0;
}
/* #endregion */

/* #region Panel */

.main {
	position: relative;
	overflow: hidden;
    /* min-width: 1024px; */
    /* min-width: 925px; */
	height: calc(100vh - 60px);
}

/* Panel header */
.sidebar-panel {
	position: absolute;
	right: -900px;
	width: 900px;
	height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
	background: #FFF;
	box-shadow: -8px 9px 25px rgba(49, 68, 93, 0.2311);
    transition: all 0.6s;
}
.sidebar-panel.active {
    right: 0;
}

.panel-header {
    display: flex;
    align-items: center;
    padding: 15px 32px;
    background: #F8F8F8;
}
.panel-header__button {
    flex-shrink: 0;
    flex-basis: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    margin: 0 25px 0 0;
}

.panel-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

/* Panel body / main content */
.panel-body {
    overflow: hidden;
    overflow-y: visible;
    scrollbar-width: thin; /* Firefox only */
}

.panel-content {
    width: 900px; /* fixed width for scrollbar not adding padding */
    margin: auto;
    padding: 25px 0;
}
.panel-content > div {
    width: 545px;
    margin-left: auto;
    margin-right: auto;
}

.base-info {
    margin: 0 0 15px;
    text-align: center;
}
.base-info__price {
    margin: 0;
    font-weight: 300;
    font-size: 46px;
    color: #CF4545;
}
.base-info__account {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 16px;
}
.base-info__account__label {
    color: #828A96;
}
.base-info__transaction-date {
    display: inline-block;
    vertical-align: top;
    padding: 3px 10px;
    border-radius: 99px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    background: #81C624;
    color: #fff;
}

/* Invoice card */
.panel__card {
    margin: 0 0 20px;
}
.panel__card::before {
	content: "";
	float: right;
	box-sizing: border-box;
	width: 34px;
	height: 31.33px;
	border: solid #fff;
	border-width: 2px 2px 0 0;
	margin: -2px -4px -31px 2px;
	border-radius: 0 2px 0 0;
    background: #fff no-repeat;
    background-image: url("../images/card-corner.png"),
                      url("../images/corner.svg");
    background-position: -2px -9px,
                         100% -1px;
}

.panel__card-body {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    border-radius: 2px 22px 0 0;
    background: #FFF;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.0869),
        0 0 1px rgba(0, 0, 0, 0.3906);
}
.panel__card-footer {
    padding: 20px 30px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 0 0 2px 2px;
    background: #F2F2F2;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.0651),
        0 4px 15px rgba(0, 0, 0, 0.0869),
        0 0 1px rgba(0, 0, 0, 0.2391);
}

.panel__card-info {
    flex-basis: 100%;
}

.panel__card-title {
    margin: 0 0 12px;
    font-size: 20px;
}

.panel__card-details {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}
.panel__card-details dt {
    float: left;
    margin: 0 0.33em 0 0;
    font-weight: inherit;
}
.panel__card-details dd {
    margin: 0 0 0.1em 0;
}
.panel__card-details dd:last-child {
    margin-bottom: 0;
}

/* Company scores list */
.panel__card-scores {
    flex: 1 0 170px;
}

.card-scores__list {
	line-height: 16px;
}
.card-scores__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.card-scores__item-text {
    text-align: center;
    margin-right: 15px;
}
.card-scores__infographics-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1;
    background: #a5d475;
    color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.card-scores__infographics-item_progress {
    font-weight: 500;
    font-size: 14px;
    background: #fff;
    color: #000;
}
.card-scores__infographics-number {
    margin: -3px 0 -1px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
}

.progress-ring {
    /* position: relative; */
    flex-shrink: 0;
    width: 44px;
    height: 44px;
}
.progress-ring__circle-underlay {
    stroke: #eaeaea;
    stroke-width: 2px;
}
.progress-ring__circle {
    stroke: #81c179;
    stroke-width: 2px;
    /* Set "stroke-dasharray" value to "0 1" for default gray circle animated on document load */
    /* stroke-dasharray: 0 0; */
    /* stroke-dashoffset: calc(2 * 3.1415 * 20px); */
    fill: #fff;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    /* transition: stroke-dashoffset 0.5s; */
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .progress-ring__circle, ::-ms-clear {
        stroke-dasharray: 0 0;
    }
}
.progress-ring__text {
    text-anchor: middle;
    /* alignment-baseline: central;
    dominant-baseline: central; */
    font-weight: 500;
    font-size: 14px;
    fill: #000;
}

.card-scores__link {
    font-size: 10.66px;
    border-bottom: 1px dotted;
    color: #2873B9;
    text-decoration: none;
}
.card-scores__link:hover,
.card-scores__link:focus {
    color: #37AEC1;
}

.panel-content__footnote {
    margin: 20px 0;
    font-size: 12px;
    line-height: 1.33;
    color: #808080;
}

/* Panel footer */
.panel-footer {
	height: 60px;
    min-height: 60px;
	padding: 15px;
	background: #FFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.0869),
        0 0 1px rgba(0, 0, 0, 0.2391);
}
.panel-footer__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 545px;
	height: 100%;
	margin: auto;
}
.panel-footer__menu__button {
    display: inline-flex;
    align-items: center;
    transition: all 0.3s;
}
.panel-footer__menu__button:hover,
.panel-footer__menu__button:focus {
    opacity: 0.8;
}
.panel-footer__menu__icon {
    margin-right: 10px;
}

.panel-footer__menu__icon.icon-chat {
	margin-top: 1px;
	margin-bottom: -1px;
}

/* #endregion */
